*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, sans-serif;
}

body {
	background-image: url('./assets/bg-img/9129060qwe.jpg');
	background-size: cover;
	background-position: 0 0;
	background-repeat: no-repeat;
}
